@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{margin: 0; padding: 0;}

html{font-family: 'Antonio', sans-serif; font-size: 20px;}
p{font-family: 'Roboto', sans-serif; font-size: 20px; padding: 20px;}

/*barra de navegacion*/


.navbar{background-color: #8B41B6;text-align: center;width: 100%;}


/* contenedor general*/


.contenedorgeneral{display: flex;flex-direction: row;justify-content: center;}

.contenedorpersonaje {background-color: green; padding: 30px;}
.contenedorpersonaje img {width: 100%; border-radius: 50%;}
.txtinfo {width:50%; padding: 50px;text-align: justify;}

.infopersonaje img{width: 50%;border-radius:0%;padding: 10px;}


/*footer*/

footer{ background-color: #8B41B6; text-align: center; font-size: 20px;} 



/*Display Medianos (560-960px)*/

@media screen and (min-width: 560px) and (max-width: 960px) {

.contenedorgeneral{width: 100%;flex-wrap: wrap;}
.contenedorpersonaje{width: 100%;}
.txtinfo {width:100%}

}

/*Display Chicos (0-560px)*/

@media screen and (min-width: 0px) and (max-width: 560px) {

    .contenedorgeneral{width: 100%;flex-wrap: wrap;}
    .contenedorpersonaje{width: 100%;}
    .txtinfo {width:100%}

}